body{
    background:url("../images/wave.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.heading{
    color:white;
    font-size: 80px;
    margin:0px;
    margin-top:100px;
}
.headingC{
    font-size:14px; 
    vertical-align:super;
    color:white;
}

.inputField{
    height:27px;
    width: 300px;
    background-color:rgba(255, 255, 255, 0.308);
    color:black;
    padding-left: 10px;
    border:none;
    border-radius: 2px;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }


#btn{
    background-color:rgb(255, 255, 255, 0.5);
    padding: 6px 20px 6px;
    border:none;
}
#btn:hover{
    background-color: rgb(14, 144, 231);
    color:white;
}
#btn:active{
    background-color: rgb(255, 255, 255, 0.5);
    color:white;
}

.name{
    margin-right:10px;
    color:white;
}

.radioBtn{
    color:white;
    margin-bottom: 10px;   
}

.output{
    width:320px;
    height: 27px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(255, 255, 255, 0.308);
    margin-bottom:5px;
    border-radius: 2px;
}

.messageField{
    float:left;
    color:white;
    margin-left:10px;
}

.countHead{
    color:white;
    max-width: 20%;
}

.counter{
    color: black;
    
}

.stats{
    background-color:rgb(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
    display:none;
}

.profile{
    width:300px;
    height:270px;
    background-color: rgba(255, 255, 255, 0.39);
    margin-top:120px;   
}

.img-profile{
    width:100px;
    margin:7px;
    margin-bottom: 0px;
}

.link{
    color:darkblue;
}

.backBtn{
    width: 300px;
    margin: 0px !important;
    
}
.greetField{
    font-size:16px;
    float:left;
    margin-left:4px;
}

form{
    display: inline-block;
}


table {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.308);
    height:90px;
    width: 100%;
    margin:3px;
  }
table, td, th {
    border: 1px solid black;
  }
  
td {
    height: 50px;
    vertical-align: middle;
  }

@media only screen and (width: 600px) {
  .heading{
      margin-top:0px;
      font-size:40px;
      color:white;
  }
    }
