.body{
  background:url('./images/bg.png')
}


.button{
  margin:10px;
}

.bgColor{
  background-color: #282c34;
}

.App-logo{
  width:20%;
  height:20%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

table {
  margin:1em auto;
  color: white;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

.input{
  width:100%;
  background-color: rgba(255, 255, 255, 0);
  color:white;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}